<ion-header>
  <ion-navbar>
    <ion-title>
      Multi Scope
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="true">
  <div *ngIf="!selectedSign">
    <ion-title>signs</ion-title>
    <ion-list>
      <ion-item *ngFor="let sign of signs | async" (click)="selectSign(sign._id)">
        {{ sign.name.de }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="selectedSign">
    <horoscopes [sign]="selectedSign"></horoscopes>
    <button ion-button (click)="unselectSign()" >Unselect Sign</button>
  </div>

  <ion-title>Feeds</ion-title>
  <ion-list>
    <ion-item *ngFor="let feed of feeds | async">
      {{ feed._id }} {{ feed.url }}
    </ion-item>
  </ion-list>
</ion-content>